/*Work sans font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}
/* Navigation bar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    height: 70px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 80px;
    margin-right: 20px;
    height: 37px;
    margin-left: 110px;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}

/* Navigation link styles */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

.nav-links li a {
    text-decoration: none;
    color: #3C354F;
    display: flex;
}
.follow-us-button {
    display: inline-flex;
    align-items: center;
    background-color: #a8a4b2;
    color: #3C354F;
    padding: 6px 20px;
    border-radius: 2px;
    cursor: pointer;
}

.social-icon {
    width: 23px;
    height: 20px;
    margin-left: 10px;
}

/*text related styles*/
.highlight-1{
    color: #FF42A5;
}
.highlight-2{
    color:#FFF
}
.highlight-3{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.highlight-4{
    background: linear-gradient(180deg, #8758F1, #F948B2 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
}
.section-title{
    color: #0B0223;
    text-align: centre;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-text{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/*banner related styles*/
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    height: 700px;
    width: 100%;
}
.bannar-pic {
    width: 700px;
    height: 700px;
    float: left;
}
.bannar-pic:last-child {
    float: right;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #000;
    z-index: 1;
    width:1200px;
}

.banner-heading {
    
    color: #0B0223;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner-title {
    margin-top: -30px;
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-text {
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 15px;
    width: 100%; 
}

/*buttons related styles*/
.btn-primary{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: #FF42A5;
    border: 0;
    color: #fff;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}
.btn-secondary{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    color: #fff;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
     cursor: pointer;
}

/*Online Games section related styles*/
.online-games {
    text-align: center;
}

.thumbnails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
}

.thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.thumbnail img {
    width: 245px;
    height: 300px;
}

.thumbnail p {
    margin-top: 10px;
    text-align: center;
    width: 320px; 
}

.hover-content {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 245px;
    height: 300px;
    margin-left: 37px;
    border-radius: 7px;
}

.thumbnail:hover .hover-content {
    display: flex;
    flex-direction: column;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.hover-content img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.watch-now {
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FF42A5;
}
/*Play instant related styels*/
.play-instant {
    display: flex;
    align-items: center;
    width: 100%; 
    justify-content: center;
    margin-left: -150px;
}
.play-instant-content {
    width: 350px;
    margin-right: 60px; 
    text-align: right;
    margin-right: 170px;
}
.play-instant-txt{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.feature-img{
    position: absolute;
    width: 540px;
    height: 590px;
    margin-left: 150px;
}
.badge-img{
    position: relative;
    width: 318px;
    height: 365px;
    margin-top: 390px;
}

/* Buttons container related styles */
.buttons {
    height: 427px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon-button {
    display: inline-flex;
    align-items: center;
    margin: 5px 10px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #FFF;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    width: calc(20% - 40px);
    transition: border-color 0.3s, color;
    border-width: 0; 
}


.button-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.icon-button:hover {
    border-color: #FF42A5; 
    color: #FF42A5; 
    cursor: pointer; 
    border-width: 1px; 
}

.social-btn-icon{
    width: 40px;
    height: 35px;
    margin: 10px;
}
/* Footer container styles */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0B0223;;
    padding: 20px;
    height: 500px
}

.footer li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.footer li a {
    text-decoration: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 75px;
    margin-right: 10px;
    height: 35px;
}

.footer-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}

.footer .additional-link li {
    display: inline-block; 
    margin: 0 10px; 
}

.footer .additional-link li a {
    color: rgba(255, 255, 255, 0.60);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer p {
    color: rgba(255, 255, 255, 0.60);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10px 0;
    padding-left: 125px;
}

/* For Android version (max-width: 576px) */
@media (max-width: 775px) {
    /* Navbar styles */
    .navbar {
      flex-direction: column;
      align-items: center;
      height: 5rem; 
    }
  
    .nav-logo img {
      margin-left: 0;
    }
  
    .nav-links {
      margin-top: 1rem; 
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links li {
      margin: 1rem 0; 
    }
  
    /* Banner styles */
    .banner {
      margin-top: 15rem;
      flex-direction: column;
    }
    
    .banner-content {
      width: 100%;
      height: 100%;
      text-align: center;
      padding-left: 1rem; 
    }
  
    .bannar-pic {
      width: 100%;
      height: auto;
      float: none;
      justify-content: space-between;
    }
  
    /* Online Games section styles */
    .thumbnails {
      flex-direction: column;
      align-items: center;
    }
  
    /* Play instant section styles */
    .play-instant {
      flex-direction: column;
      align-items: center;
    }
  
    .play-instant-content {
      margin-right: 0;
      text-align: right;
      margin-left: 20rem;
      margin-bottom: 1.25rem; 
    }
  
    /* Buttons container styles */
    .buttons {
      justify-content: center;
      width: 1rem; 
      flex-direction: column;

    }
  
    .icon-button {
      width: calc(33.33% - 2.5rem);
    }
  
    /* Footer container styles */
    .footer {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .footer li {
      margin-bottom: 0.625rem; 
    }
  }
  